{% extends "base.html" %}

{% block content %}

    <section class="pb-5">
        <img style="width: 100%; height: 500px;" src="{{ blog_.image }}" alt="image">
        <div class="container pt-4">
            <div class=" text-center">
                <h1><strong><u>{{ blog_.title }}</u></strong></h1>
                <p style="font-size: 20px;" class="pt-2">
                    <strong>Published by: </strong>{{ blog_.user_name }}
                </p>
            </div>
            <p style="font-size: 20px;" class="pt-3">
                {{ blog_.content | safe }}
            </p>
        </div>
    </section>

{% endblock %}